alembic
aiosqlite
azure-identity
bcrypt<4.0.0
cryptography
fastapi
PyJWT
passlib
asyncpg
python-jose
python-multipart
pydantic-settings
pydantic[email]
pytest
pytest_asyncio
httpx
sqlmodel
uvicorn[standard]
